In [1]:
#인덱스 다루기
import seaborn as sns
df = sns.load_dataset('mpg')

In [2]:
df.head

<bound method NDFrame.head of       mpg  cylinders  displacement  horsepower  weight  acceleration
0    18.0          8         307.0       130.0    3504          12.0  \
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]>

In [3]:
df.set_index('name', inplace=True)

In [4]:
df.info

<bound method DataFrame.info of                             mpg  cylinders  displacement  horsepower  weight
name
chevrolet chevelle malibu  18.0          8         307.0       130.0    3504  \
buick skylark 320          15.0          8         350.0       165.0    3693
plymouth satellite         18.0          8         318.0       150.0    3436
amc rebel sst              16.0          8         304.0       150.0    3433
ford torino                17.0          8         302.0       140.0    3449
...                         ...        ...           ...         ...     ...
ford mustang gl            27.0          4         140.0        86.0    2790
vw pickup                  44.0          4          97.0        52.0    2130
dodge rampage              32.0          4         135.0        84.0    2295
ford ranger                28.0          4         120.0        79.0    2625
chevy s-10                 31.0          4         119.0        82.0    2720

                           acceleration  model_year  origin
name
chevrolet chevelle malibu          12.0          70     usa
buick skylark 320                  11.5          70     usa
plymouth satellite                 11.0          70     usa
amc rebel sst                      12.0          70     usa
ford torino                        10.5          70     usa
...                                 ...         ...     ...
ford mustang gl                    15.6          82     usa
vw pickup                          24.6          82  europe
dodge rampage                      11.6          82     usa
ford ranger                        18.6          82     usa
chevy s-10                         19.4          82     usa

[398 rows x 8 columns]>

In [6]:
#df 이름차순으로 정렬
df.sort_index(inplace=True)

In [7]:
df.info

<bound method DataFrame.info of                           mpg  cylinders  displacement  horsepower  weight
name
amc ambassador brougham  13.0          8         360.0       175.0    3821  \
amc ambassador dpl       15.0          8         390.0       190.0    3850
amc ambassador sst       17.0          8         304.0       150.0    3672
amc concord              24.3          4         151.0        90.0    3003
amc concord              19.4          6         232.0        90.0    3210
...                       ...        ...           ...         ...     ...
vw pickup                44.0          4          97.0        52.0    2130
vw rabbit                41.5          4          98.0        76.0    2144
vw rabbit                29.0          4          90.0        70.0    1937
vw rabbit c (diesel)     44.3          4          90.0        48.0    2085
vw rabbit custom         31.9          4          89.0        71.0    1925

                         acceleration  model_year  origin
name
amc ambassador brougham          11.0          73     usa
amc ambassador dpl                8.5          70     usa
amc ambassador sst               11.5          72     usa
amc concord                      20.1          80     usa
amc concord                      17.2          78     usa
...                               ...         ...     ...
vw pickup                        24.6          82  europe
vw rabbit                        14.7          80  europe
vw rabbit                        14.2          76  europe
vw rabbit c (diesel)             21.7          80  europe
vw rabbit custom                 14.0          79  europe

[398 rows x 8 columns]>

In [9]:
#df를 내림차순으로 정렬
df.sort_index(inplace=True,ascending=False)
df.info

<bound method DataFrame.info of                           mpg  cylinders  displacement  horsepower  weight
name
vw rabbit custom         31.9          4          89.0        71.0    1925  \
vw rabbit c (diesel)     44.3          4          90.0        48.0    2085
vw rabbit                29.0          4          90.0        70.0    1937
vw rabbit                41.5          4          98.0        76.0    2144
vw pickup                44.0          4          97.0        52.0    2130
...                       ...        ...           ...         ...     ...
amc concord              19.4          6         232.0        90.0    3210
amc concord              24.3          4         151.0        90.0    3003
amc ambassador sst       17.0          8         304.0       150.0    3672
amc ambassador dpl       15.0          8         390.0       190.0    3850
amc ambassador brougham  13.0          8         360.0       175.0    3821

                         acceleration  model_year  origin
name
vw rabbit custom                 14.0          79  europe
vw rabbit c (diesel)             21.7          80  europe
vw rabbit                        14.2          76  europe
vw rabbit                        14.7          80  europe
vw pickup                        24.6          82  europe
...                               ...         ...     ...
amc concord                      17.2          78     usa
amc concord                      20.1          80     usa
amc ambassador sst               11.5          72     usa
amc ambassador dpl                8.5          70     usa
amc ambassador brougham          11.0          73     usa

[398 rows x 8 columns]>

In [11]:
#인덱스 재설정
df.reset_index(inplace=True)
df.info

<bound method DataFrame.info of      index                     name   mpg  cylinders  displacement
0        0         vw rabbit custom  31.9          4          89.0  \
1        1     vw rabbit c (diesel)  44.3          4          90.0
2        2                vw rabbit  29.0          4          90.0
3        3                vw rabbit  41.5          4          98.0
4        4                vw pickup  44.0          4          97.0
..     ...                      ...   ...        ...           ...
393    393              amc concord  19.4          6         232.0
394    394              amc concord  24.3          4         151.0
395    395       amc ambassador sst  17.0          8         304.0
396    396       amc ambassador dpl  15.0          8         390.0
397    397  amc ambassador brougham  13.0          8         360.0

     horsepower  weight  acceleration  model_year  origin
0          71.0    1925          14.0          79  europe
1          48.0    2085          21.7          80  europe
2          70.0    1937          14.2          76  europe
3          76.0    2144          14.7          80  europe
4          52.0    2130          24.6          82  europe
..          ...     ...           ...         ...     ...
393        90.0    3210          17.2          78     usa
394        90.0    3003          20.1          80     usa
395       150.0    3672          11.5          72     usa
396       190.0    3850           8.5          70     usa
397       175.0    3821          11.0          73     usa

[398 rows x 10 columns]>

In [13]:
# 필터링이란 시리즈나 데이터프레임의 데이터에서 조건을 만족하는 원소만 추출하는 것 
# 엑셀의 필터와 비슷, 필터링에는 불리언 인덱싱(boolean indexing)과 isin()메서드가 사용

#시리즈 객체에 조건을 입력하면 각 원소에 대해 참 혹은 거짓을 판별하여 true/false로 이루어진 시리즈가 반환
# 그후 참에 해당하는 데이터만 선택하면 조건을 만족하는 데이터만 추출할수 있음

#실린더스 열에서 고유한 값을 추출해보기 (차의 실린더 갯수 추출)
df['cylinders'].unique()

array([4, 6, 8, 5, 3], dtype=int64)

In [14]:
#실린더가 4인 열을 추출해보자
df['cylinders'] == 4

0       True
1       True
2       True
3       True
4       True
       ...
393    False
394     True
395    False
396    False
397    False
Name: cylinders, Length: 398, dtype: bool

In [15]:
# 실린더가 4개인 조건에 해당하는 시리즈를 만들어준다.

filter_bool = (df['cylinders']==4)
df.loc[filter_bool, ]

# 만들어진 불리언 시리즈를 데이터프레임에 입력하면 필터링 할수 있다.

,index,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,0,vw rabbit custom,31.9,4,89.0,71.0,1925,14.0,79,europe
1,1,vw rabbit c (diesel),44.3,4,90.0,48.0,2085,21.7,80,europe
2,2,vw rabbit,29.0,4,90.0,70.0,1937,14.2,76,europe
3,3,vw rabbit,41.5,4,98.0,76.0,2144,14.7,80,europe
4,4,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
...,...,...,...,...,...,...,...,...,...,...
368,368,audi 100ls,23.0,4,115.0,95.0,2694,15.0,75,europe
369,369,audi 100 ls,24.0,4,107.0,90.0,2430,14.5,70,europe
370,370,amc spirit dl,27.4,4,121.0,80.0,2670,15.0,79,usa
391,391,amc concord dl,23.0,4,151.0,NaN,3035,20.5,82,usa
394,394,amc concord,24.3,4,151.0,90.0,3003,20.1,80,usa

In [17]:
#조건이 여러개인 데이터선택, 실린더갯수가4개, 마력이 100인 데이터선택해보기

filter_bool2 = (df['cylinders'] ==4) & (df['horsepower'] >=100)
df.loc[filter_bool2, ]

,index,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
8,8,volvo 245,20.0,4,130.0,102.0,3150,15.7,76,europe
10,10,volvo 145e (sw),18.0,4,121.0,112.0,2933,14.5,72,europe
11,11,volvo 144ea,19.0,4,121.0,112.0,2868,15.5,73,europe
59,59,saab 99le,24.0,4,121.0,110.0,2660,14.0,73,europe
60,60,saab 99le,25.0,4,121.0,115.0,2671,13.5,75,europe
61,61,saab 99gle,21.6,4,121.0,115.0,2795,15.7,78,europe
94,94,plymouth sapporo,23.2,4,156.0,105.0,2745,16.7,78,usa
254,254,dodge colt,27.9,4,156.0,105.0,2800,14.4,80,usa
285,285,datsun 200sx,32.9,4,119.0,100.0,2615,14.8,81,japan
361,361,bmw 320i,21.5,4,121.0,110.0,2600,12.8,77,europe
362,362,bmw 2002,26.0,4,121.0,113.0,2234,12.5,70,europe

In [18]:
#보고싶은 열만 볼수 있게 출력
df.loc[filter_bool2, ['cylinders','horsepower','name'] ]

     cylinders  horsepower              name
8            4       102.0         volvo 245
10           4       112.0   volvo 145e (sw)
11           4       112.0       volvo 144ea
59           4       110.0         saab 99le
60           4       115.0         saab 99le
61           4       115.0        saab 99gle
94           4       105.0  plymouth sapporo
254          4       105.0        dodge colt
285          4       100.0      datsun 200sx
361          4       110.0          bmw 320i
362          4       113.0          bmw 2002

In [21]:
#isin()메서드를 사용하면 특정 값을 가진 행을 추출할수 있다
filter_isin = df['name'].isin(['ford maverick','for mustang ii','chevrolet impala'])
df.loc[filter_isin]

,index,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
195,195,ford maverick,21.0,6,200.0,NaN,2875,17.0,74,usa
196,196,ford maverick,15.0,6,250.0,72.0,3158,19.5,75,usa
197,197,ford maverick,24.0,6,200.0,81.0,3012,17.6,76,usa
198,198,ford maverick,21.0,6,200.0,85.0,2587,16.0,70,usa
199,199,ford maverick,18.0,6,250.0,88.0,3021,16.5,73,usa
315,315,chevrolet impala,13.0,8,350.0,165.0,4274,12.0,72,usa
316,316,chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
317,317,chevrolet impala,14.0,8,350.0,165.0,4209,12.0,71,usa
318,318,chevrolet impala,11.0,8,400.0,150.0,4997,14.0,73,usa

In [22]:
#새로운 열 만들기
#mpg는연비 weight는 무게 mpg/weight는 무게 대비 연비를 나타냄
#시리즈끼리는 연산이 가능

df['mpg']/df['weight']

0      0.016571
1      0.021247
2      0.014972
3      0.019356
4      0.020657
         ...
393    0.006044
394    0.008092
395    0.004630
396    0.003896
397    0.003402
Length: 398, dtype: float64

In [23]:
#무게대비 연비 데이터에서, 백분율로 표시해보기
df['ratio'] = df['mpg']/df['weight'] *100

In [24]:
df.info

<bound method DataFrame.info of      index                     name   mpg  cylinders  displacement
0        0         vw rabbit custom  31.9          4          89.0  \
1        1     vw rabbit c (diesel)  44.3          4          90.0
2        2                vw rabbit  29.0          4          90.0
3        3                vw rabbit  41.5          4          98.0
4        4                vw pickup  44.0          4          97.0
..     ...                      ...   ...        ...           ...
393    393              amc concord  19.4          6         232.0
394    394              amc concord  24.3          4         151.0
395    395       amc ambassador sst  17.0          8         304.0
396    396       amc ambassador dpl  15.0          8         390.0
397    397  amc ambassador brougham  13.0          8         360.0

     horsepower  weight  acceleration  model_year  origin     ratio
0          71.0    1925          14.0          79  europe  1.657143
1          48.0    2085          21.7          80  europe  2.124700
2          70.0    1937          14.2          76  europe  1.497161
3          76.0    2144          14.7          80  europe  1.935634
4          52.0    2130          24.6          82  europe  2.065728
..          ...     ...           ...         ...     ...       ...
393        90.0    3210          17.2          78     usa  0.604361
394        90.0    3003          20.1          80     usa  0.809191
395       150.0    3672          11.5          72     usa  0.462963
396       190.0    3850           8.5          70     usa  0.389610
397       175.0    3821          11.0          73     usa  0.340225

[398 rows x 11 columns]>

In [29]:
#특정 열의 조건을 기반으로 새로운 열을 만들수도 있음
#조건문 함수는 특정 조건을 만족했는지 여부에 따라 서로 다른 값을 부여
#대표적으로 numpy패키지의 where 함수를 사용
#데이터에서 0보다 큰 값을 출력하라.


import numpy as np
num = pd.Series([-2,-1,1,2])
np.where(num>=0)

(array([2, 3], dtype=int32),)

In [31]:
#조건을 만족하면 양수, 아니면 음수를 출력하라. if랑 비슷
np.where(num>=0, '양수','음수')

array(['음수', '음수', '양수', '양수'], dtype='<U2')

In [39]:
#horsepower가 100미만, 100이상, 200이상인지 구분하는 열을 만들어보기
df['horsepower_div'] = np.where(df['horsepower'] <100, '100미만',
                                np.where((df['horsepower']>=100) & (df['horsepower']<200), '100이상',
                                np.where(df['horsepower']>=200, '200이상', '기타')))

In [40]:
df.info

<bound method DataFrame.info of      index                     name   mpg  cylinders  displacement
0        0         vw rabbit custom  31.9          4          89.0  \
1        1     vw rabbit c (diesel)  44.3          4          90.0
2        2                vw rabbit  29.0          4          90.0
3        3                vw rabbit  41.5          4          98.0
4        4                vw pickup  44.0          4          97.0
..     ...                      ...   ...        ...           ...
393    393              amc concord  19.4          6         232.0
394    394              amc concord  24.3          4         151.0
395    395       amc ambassador sst  17.0          8         304.0
396    396       amc ambassador dpl  15.0          8         390.0
397    397  amc ambassador brougham  13.0          8         360.0

     horsepower  weight  acceleration  model_year  origin     ratio
0          71.0    1925          14.0          79  europe  1.657143  \
1          48.0    2085          21.7          80  europe  2.124700
2          70.0    1937          14.2          76  europe  1.497161
3          76.0    2144          14.7          80  europe  1.935634
4          52.0    2130          24.6          82  europe  2.065728
..          ...     ...           ...         ...     ...       ...
393        90.0    3210          17.2          78     usa  0.604361
394        90.0    3003          20.1          80     usa  0.809191
395       150.0    3672          11.5          72     usa  0.462963
396       190.0    3850           8.5          70     usa  0.389610
397       175.0    3821          11.0          73     usa  0.340225

    horsepower_div
0            100미만
1            100미만
2            100미만
3            100미만
4            100미만
..             ...
393          100미만
394          100미만
395          100이상
396          100이상
397          100이상

[398 rows x 12 columns]>